In [49]:
# Q 1
st = ['hello','everyone','all','the','best']
length = {i:len(i) for i in st}
length

{'hello': 5, 'everyone': 8, 'all': 3, 'the': 3, 'best': 4}

Q 2

covariance: 1) covariance gives only relationship between two variables


correlation: 1) correlation gives strength as well as relationship between two variables
             2) correlation ranges between -1 to +1. -1 being negative correlation, whereas +1 represents +ve correlation. correlation 0 means no 
                relation between 2 variables
            3) it is normalized version of covariance

Q 3 

-CLT stands for Central Limit Theorem.
-CLT is performed on large datasets , i.e., no of observations more than 30 .
-CLT assumes that large datasets are normally distributed, i.e., it has bell shaped curve.
-samples should be independent of each other.

Q 4

1) sets are unordered.whereas, dictionary is ordered.
2)both set and dictionary are represented with curly brackets, but elements of dictionary are in {key:value} format.

In [50]:
# Q 5
import numpy as np

# Linspace:
# syntax : np.linspace(start,end, stepsize)
np.linspace(0,20,5)
# arrange:
# arange is gives data in given range which are equidistanced.
np.arange(1,21,3)

array([ 1,  4,  7, 10, 13, 16, 19])

Q 6

- type 1 error is represented by aplha
- type 1 error is false positive, means null hypothesis is rejected even if it is true.
- Ex.
    h0: Person is innocent.
    h1: Person is murderer.

type 1 error - innocent person is declared murderer

Q 8 

there are two statistical test to determine the data is normally distributed or not:

1) Shapiro-wilk test:
- shapiro wilk test is used when number of observations are less than 5000.
2) Jarque berra test:
- It is used when number of observation are more tha 5000.

Hypothesis testing:

H0: Data is normalized
H1: Data is not normalized

Q 9

Assumption of linear regression:

1)linearity - there should be linearity between dependent and independent variables
2)residuals should be normalized
3)homoscedasticity - variance should be constant among residuals
4) No multicollinearity: there should not be collinearity between independent variables
5) No autocorrelation between residuals

Q 10

Entrophy: 
-It is measure of impure data
-root node has highest entrophy

formula: -PilogPi

Information gain:
-Information gain used to select root node in decision tree.
- Root node is selected based on highest information gain

formula: entrophy(parent)- weighted entrophy of(child)

In [51]:
#Q 11
import pandas as pd
df=pd.read_csv('loan_data_set.csv')

In [52]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [53]:
df.shape

(614, 13)

In [54]:
df.describe

<bound method NDFrame.describe of       Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]>

In [48]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64