In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [5]:
dict = {1:'niranjan', 2:'kiran', 3:'ajay', 4:'vijay', 5:'rahul'}
dict

{1: 'niranjan', 2: 'kiran', 3: 'ajay', 4: 'vijay', 5: 'rahul'}

In [37]:
# Q 2
def palindrome(x):
    
    return x == x[::-1] 


string = "mom"

print(palindrome(string))

True

In [54]:
# Q 3
age = [20,34,38,40,54]

for i in age:
    if i > 38 and i <54:
        i == 'age'

In [55]:

city = ['pune', 'mumbai', 'chennai','banglore','delhi']
city
age = [20,34,38,40,54]
age

[20, 34, 38, 40, 54]

In [56]:
# Q 4

dict = {1:'niranjan', 2:'kiran', 3:'ajay', 4:'vijay', 5:'rahul'}
df= pd.DataFrame([dict])

df

          1      2     3      4      5
0  niranjan  kiran  ajay  vijay  rahul

In [58]:
df2 = pd.DataFrame(['city','age'])
df2

      0
0  city
1   age

In [44]:
# Q 5
df2.groupby(['city','age'])['age'].mean()

KeyError: 'Column not found: age'

In [66]:
# Q 6
df3 = pd.DataFrame(['age'])
df3

     0
0  age

In [69]:
# Q 10
df['dict']= df['dict'].rank()

KeyError: 'dict'